/*textarea{
  width: 300px;
  height: 100px;
   resize: none; 
}*/

* {
  font-size: 30px;
}


input {
  width: 100px;
  height: 40px;
}

img {
  width: 200px;
}

#img3 {
    width: 100px;
}

.img2{
  width: 30px;
}

.img1{
  height: 400px;
}

[title] {
  width: 10px;
  height: 10px;
}




/* text */
.p1 {
  text-indent: 50px;
  word-spacing: 100px;
  line-height: 60px;
}

.p2{
  text-align: center;
  letter-spacing: 100px;
}

.p3 {
  /* text-transform: capitalize; */
  text-transform: uppercase;
  text-decoration: overline;
}


/* background */

.div1 {
  width: 80px;
  height: 80px;
  background-image: url(./images/jlt.jpg);
}

.div2{
  width: 800px;
  height: 500px;
  background-image: url(https://img-blog.csdn.net/201810122107563?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3NpbmF0XzM0MTA0NDQ2/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70);
  /* background-position: 0 -80px; */
  background-size: 100% 100%;
}

.bg-div {
  width: 400px;
  height: 400px;
  /* background-image: url(./images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  
  background: #00FF00 url(./images/bg.jpg) no-repeat top;
  
}

.bg-fixed {
  height: 400px;
  background-image: url(./images/jbbg.jpg);
  background-attachment: fixed;
}